version: '3.8'
services:
  wordpress:
    build: ./Infra/wordpress
    container_name: ${CONTAINER_NAME}
    volumes:
      - ./wordpress:/var/www/html
      - ./Infra/wordpress/msmtprc:/etc/msmtprc
    environment:
      WORDPRESS_DB_HOST: ${MY_WORDPRESS_HOST}
      WORDPRESS_DB_USER: ${MY_WORDPRESS_USER}
      WORDPRESS_DB_PASSWORD: ${MY_WORDPRESS_PASSWORD}
      WORDPRESS_DB_NAME: ${MY_WORDPRESS_DB}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${LETSENCRYPT_HOST}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      LETSENCRYPT_TEST: ${LETSENCRYPT_TEST}
      CERT_NAME: ${CERT_NAME}
      TZ: Asia/Tokyo
    networks:
      - my_proxy_network
      - my_infra_network
      - my_wordpress_network

networks:
  my_wordpress_network:
    name: my_wordpress_network
  my_proxy_network:
    external: true
    name: my_proxy_network
  my_infra_network:
    external: true
    name: my_infra_network
